@keyframes glowGreen {
  0% { box-shadow: 0 0 10px #fff, 0 0 20px #0eff1a, 0 0 30px;}
  100% { box-shadow: 0 0 20px #fff, 0 0 30px #63fc6a, 0 0 40px;}
}

@keyframes glowRed {
  0% { box-shadow: 0 0 10px #ff0e0e, 0 0 20px #ff0e0e, 0 0 30px;}
  100% { box-shadow: 0 0 20px #ff6a6a, 0 0 30px #ff3a3a, 0 0 40px;}
}

@keyframes fadeInOut {
  0% {opacity: 0;}
  25% {opacity: 1;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes showFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}