$mainBackgroundColor: #0f1030;
$cardGradient: linear-gradient(to bottom, #073560, #080d24);
$primaryButtonColor: #dd2965;
$primaryButtonColorHover: #ff4081;
$secondaryButtonColor: #58758d;
$secondaryButtonColorHover: #6384a0;